asgiref==3.7.2
beautifulsoup4==4.12.2
branca==0.7.1
bs4==0.0.1
certifi==2024.2.2
charset-normalizer==3.3.2
Django==4.2.11
django-crispy-forms==1.14.0
djangorestframework==3.15.0
djangorestframework-api-key==2.2.0
folium==0.16.0
gunicorn==22.0.0
html5lib==1.1
idna==3.7
Jinja2==3.1.3
MarkupSafe==2.1.5
mechanize==0.4.9
numpy==1.26.4
packaging==24.0
psycopg2==2.9.3
python-dotenv==0.20.0
pytz==2022.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
typing_extensions==4.10.0
urllib3==2.2.1
webencodings==0.5.1
xyzservices==2024.4.0
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
