{% extends 'registration/logged_in_base.html' %}
{% block content2 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Workout App Fitness Mins</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <canvas id="myChart" width="800" height="400"></canvas>
            </div>
            <br>
            <div class="row">
                <p class="lead"><strong>Currrent fitness mins this week: {{ current_fitness_mins }} minutes</strong></p>
                <br>
                <p class="lead"><strong>Average fitness mins in last {{ months }} months: {{ avg_fitness_mins }} minutes</strong></p>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels : [{% for item in graph_fitness_mins %}"{{ item.start_date }}",{% endfor %}],
                datasets: [
                {
                    yAxisID: 'fitness',
                    label: "Fitness mins by week",
                    data: [{% for item in graph_fitness_mins %}{{ item.mins }},{% endfor %}],
                    borderWidth: 1,
                },
                {
                    yAxisID: 'vo2',
                    label: "VO2 Max",
                    data : [{% for item in graph_fitness_mins %}{{ item.vo2_max }},{% endfor %}],
                    borderWidth: 1,
                }
                ]
            },
            options: {
                scales: {
                    fitness: {
                        type: 'linear',
                        position: 'left',
                        min: 0,
                        grid: { display: false }
                    },
                    vo2: {
                        type: 'linear',
                        position: 'right',
                        max: 70,
                        min: 30,
                    },
                },
                plugins: {
                    tooltip: {
                        enabled: false // Disable built-in tooltip
                    }
                },
                animation: {
                    onProgress: function() {
                        var previousTextY = {};
                        this.data.datasets.forEach(function(dataset, index) {
                            var meta = this.getDatasetMeta(index);
                            if (!meta.hidden) {
                                var datasetBorderColor = dataset.borderColor; // Get the dataset's border color
                                meta.data.forEach(function(element, index) {
                                    // Draw the value centered above the data point with the same color as the dataset
                                    var posX = element.tooltipPosition().x;
                                    var posY = element.tooltipPosition().y;
                                    var text = dataset.data[index];
                                    var textWidth = ctx.measureText(text).width;
                                    var textY = posY - 10;
                                    // Check for overlap
                                    if (previousTextY[index] && Math.abs(textY - previousTextY[index]) < 20) {
                                        textY = previousTextY[index] - 10;
                                    }
                                    previousTextY[index] = textY;
                                    ctx.fillStyle = datasetBorderColor; // Set text color to dataset's border color
                                    ctx.fillText(text, posX - textWidth / 2, textY);
                                });
                            }
                        }, this);
                    }
                }
            },
        });

        </script>
    </body>
</html>
{% endblock %}
