{% extends 'registration/logged_in_base.html' %}
{% block content2 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Workout App Fitness Mins</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <canvas id="myChart" width="800" height="400"></canvas>
            </div>
            <br>
            <div class="row">
                <p class="lead"><strong>Currrent fitness mins this week: {{ current_fitness_mins }} minutes</strong></p>
                <br>
                <p class="lead"><strong>Average fitness mins in last {{ months }} months: {{ avg_fitness_mins }} minutes</strong></p>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels : [{% for item in graph_fitness_mins %}"{{ item.start_date }}",{% endfor %}],
                datasets: [
                {
                    yAxisID: 'first',
                    label: "Fitness mins by week",
                    data: [{% for item in graph_fitness_mins %}{{ item.mins }},{% endfor %}],
                    borderWidth: 1,
                },
                {
                    yAxisID: 'second',
                    label: "VO2 Max",
                    data : [{% for item in graph_fitness_mins %}{{ item.vo2_max }},{% endfor %}],
                    borderWidth: 1,
                }
                ]
            },
            options: {
                scales: {
                    first: {
                        type: 'linear',
                        position: 'left',
                        min: 0,
                        grid: { display: false }
                    },
                    second: {
                        type: 'linear',
                        position: 'right',
                        max: 80,
                        min: 0,
                        grid: { display: false }
                    },
                }
            }
        });
        </script>
    </body>
</html>
{% endblock %}
