{% extends 'registration/logged_in_base.html' %}
{% block content2 %}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Workout App Workouts</title>
    </head>
    <body>
        {% load crispy_forms_tags %}
        
        <div class="container">
            <!--Django Model-->
            <h2 class="my-4">Workout</h2>
            <div class="row">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Start Time</th>
                        <th>Duration</th>
                        <th>Active kilocalories</th>
                        <th>Average heart rate</th>
                        <th>Max heart rate</th>
                        <th>Distance</th>
                        <th>Actual distance</th>
                        <th></th>
                    </tr>
                    {% for w in workout %}
                        <tr title="{{ w.notes }}">
                            <td>{{ w.name }}</td>
                            <td>{{ w.get_location_display }}</td>
                            <td>{{ w.start_time | date:"d/m/Y, H:i" }}</td>
                            <td>{{ w.duration }}</td>
                            <td>{{ w.active_kilocalories }} kcal</td>
                            <td>{{ w.average_heart_rate }} BPM</td>
                            <td>{{ w.max_heart_rate }} BPM</td>
                            {% if w.distance %}
                                <td>{{ w.distance }} km</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            {% if w.actual_distance %}
                                <td>{{ w.actual_distance }} km</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td><a href="/workouts/edit/{{ w.id }}/">Edit</a></td>
                        </tr>
                    {% empty %}
                    <p>No workout added.</p>
                    {% endfor %}
                </table>
            </div>
            <!--Django Model Form-->
            <h2 class="my-4">Add a new workout</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ workout_form | crispy }}
                <button class="btn btn-primary my-4" type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>
{% endblock %}
